body {
    scrollbar-base-color: rgba(255, 255, 255,0.5);
  scrollbar-face-color: rgba(255, 255, 255,0.5);
  scrollbar-3dlight-color: rgba(255, 255, 255,0.5);
  scrollbar-highlight-color: rgba(255, 255, 255,0.5);
  scrollbar-track-color: rgba(255, 255, 255,0.5);
  scrollbar-arrow-color: rgba(255, 255, 255,0.5);
  scrollbar-shadow-color: rgba(255, 255, 255,0.5);
  scrollbar-dark-shadow-color: rgba(255, 255, 255,0.5);
}
::-webkit-scrollbar {
    width: 5px;
    padding: 0!important;
    margin-left: -1rem!important;
    margin-right: -0.75rem!important;
    background: rgba(255, 255, 255,0.5); 
    // display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255,0.5);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black; 
    @include border-radius(1.5rem 1.5rem);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }