// @import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import "./fonts";
@import "./colors";
@import "./mixins";
@import "./global";
@import "./scrollbar";
// @import "./theming";

*{
    font-family: 'Poppins', sans-serif;
}
html, body{
    width:100%;
    overflow-x:hidden;
}
.btn-primary{
    @include border-radius(1.25rem 1.25rem);
    padding-left: 25px;
    padding-right: 25px;
    background-color: #AD0000;
    border-color: #990202;
    &:hover{
        color: #fff;
        background-color: #970303;
        border-color: #7a0303;

    }
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba($color: #970303, $alpha: 0.15);
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #970303;
    border-color: #7a0303; 
    box-shadow: 0 0 0 0.25rem rgba($color: #970303, $alpha: 0.5); 
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #970303;
    border-color: #7a0303;
}


.navbar {
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 1;
    li.nav-item {
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-link{
        letter-spacing: 2px;
        &.active, &:hover {
            border-bottom: 4px solid #AD0000;
        }
    }
   
}

.hero {
    background-image: url(../img/hero.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100vh;
    height: 100vh;
    padding-top: 100px;
    
}

.tamanios {
    background-color: #FAF7ED;
    height: 100vh;
}
.ingredientes{
    background-image: url(../img/fondo-ingredientes.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 100px;
    h1 {
        color: white;
    }
}
.contactanos{
    background-image: url(../img/contacto@2x.png);
    background-position-x: 145%;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    padding-top: 50px;
}

footer {
    height: 25vh;
    background-image: url(../img/footer.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}



  
  /* Make the image to responsive */
  .image {
    display: block;
    width: 100%;
    height: auto;
    @include border-radius(15px);
    filter:drop-shadow(0 0 16px rgba($color: #424242, $alpha: 0.15));
    @include box-shadow(0 0 16px rgba($color: #424242, $alpha: 0.15));
  }
  $btn-bkg: purple;
  /* The overlay effect - lays on top of the container and over the image */
  .overlay {

    position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparentize(#000000, 0.2);
//   filter:brightness(200%);
    // opacity: 0.5;
  filter:contrast(200%);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .3s ease;
  @include border-radius(0 0 15px 15px);
  font-size: 20px;
    padding: 20px;
    height: 75px;
    cursor: pointer;
    transition: .3s ease;
  }


  

  /* When you mouse over the container, fade in the overlay title */





  .container-imagen:hover .overlay {
    opacity: 1;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  transition: .3s ease;
  @include border-radius(15px 15px 15px 15px);
  
  }


  /* Container needed to position the overlay. Adjust the width as needed */
.container-imagen {
    @include transition(.3s ease);
    position: relative;
    .text{
        font-family: 'Kaushan Script', cursive;
        color: white;
        font-size: 30px;
        position: relative;
        @include transition(.3s ease);
        @include transform(translate(70%, -15%));
        padding: 0;
        
      
      }
      .text2{
        font-weight: 200;
        color: white;
        font-size: 13px;
        position: relative;
        @include transition(.3s ease);
        @include transform(translate(5%, 550%));
      }
   
    &:hover{

        .text{
            @include transform(translate(5%, -35%));
            @include transition(.3s ease);
        }
        .text2{
            @include transform(translate(5%, 0%));
            @include transition(.3s ease);
        }
          
    }
  }

  .carousel{
      padding-bottom: 100px;
  }




// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap



// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { 
    *{
        text-align: center;
    }
    .navbar{
        background-color: transparent;
        // background-color: rgba($color: #424242, $alpha: 0.5);
        height:auto;
        transition: all 0.3s;
        padding-top: 0;
        .navbar-nav{
           
            height:90vh;
            @include center-flex();
            transition: all 0.3s;
        }

        .container-fluid{
            padding-top: 10px;
        }
    }
    .navbar-collapse.collapsing{
        // background-color: rgba($color: #424242, $alpha: 0.5);
        height:calc(100vh - 50px);
        transition: all 0.3s;
        .nav-item {
            opacity: 0;
            transition: all 0.03s;
        }
    }
    .navbar-collapse.collapse{
        display: none;
        transition: all 0.03s;
        .nav-item {
            opacity: 0;
            transition: all 0.03s;
        }
    
    }
.navbar-collapse.collapse.show{
    // background-color: rgba($color: #424242, $alpha: 0.5);
    height:calc(100vh - 50px);
    transition: all 0.3s;
    display: block;
    .nav-item {
        opacity: 1;
        transition: all 0.3s;
    }
   
}


.bg-gris{
    background-color: rgba($color: #424242, $alpha: 0.5);
    transition: all 0.3s;
    backdrop-filter: blur(25px);
}

/* li:has(> a.active) 
    {
       background-color: red!important;
       color: black!important;
    } */

    .nav-link {
        width: fit-content;
    margin: auto;
    margin-bottom: 15px;
    // margin-top: 10px;
    }
    .navbar-dark .navbar-nav .nav-link.active,  .navbar-dark .navbar-nav .show>.nav-link{
        color:#AD0000
    }
    .navbar-dark .navbar-nav .nav-link,  .navbar-dark .navbar-nav .show>.nav-link{
        color:#AD0000
    }
    .hero{
        background-position-x: center;
    background-position-y: top;
    background-repeat: repeat-y;
    background-size: 100vh;
    height: 100vh;
    padding-top: 100px;
    background-size: cover;
        [class^='col-lg']{
            background: rgba($color: white, $alpha: 0.75);
            padding: 45px;
            @include border-radius(10px);
            p {
                font-size: 22px;
            }
        }
        
    }
    .tamanios * {
        text-align: left;
        
    }
    .contactanos{
        background-size: cover;
        min-height: auto;
        padding-bottom: 50px;
        background-position-x: center;
        .row {
            @include justify-content(center);
        }
    }

    .container-imagen{
        .text{
            @include transform(translate(0%, -15%));
        }
        .text2 *{
            text-align: left;
        }
        &:hover{
            .text{
                @include transform(translate(0%, -35%));
            }
        }
    }
    .ingredientes{
        min-height: auto !important;
        height: auto;
    }
    
 }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {  }


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .hero{
        background-size: contain;
        background-repeat: no-repeat;
        .row{
            margin-top: 75%;
            height: auto!important;
        }
        [class^='col-lg']{
            p{
                font-size: 15px;
            }
        }
    }
 }